<div (click)="$event.stopPropagation()">
    <div>
        <h1 class="font-bold">Add Contact</h1>
        <button class="cursor-pointer border border-gray-900" (click)="closeModal()">Cancel</button>
    </div>
    <form [formGroup]="addContactForm">
        <label for="firstName">First Name:</label>
        <input class="placeholder-gray-500 placeholder-opacity-50 border border-gray-300" type="text" name="firstName" placeholder="First Name" required formControlName="firstName">
        <label for="lastName">Last Name:</label>
        <input class="placeholder-gray-500 placeholder-opacity-50 border border-gray-300" type="text" name="lastName" placeholder="Last Name" required formControlName="lastName"/>
        <label for="phoneNumber">Phone Number:</label>
        <input class="placeholder-gray-500 placeholder-opacity-50 border border-gray-300" type="text" name="phoneNumber" placeholder="Phone Number" maxlength="10" required formControlName="phoneNumber"/>
        <label for="email">Email:</label>
        <input class="placeholder-gray-500 placeholder-opacity-50 border border-gray-300" type="email" name="email" placeholder="Email" required formControlName="email"/>
        <div>
            <button class="cursor-pointer border border-gray-900" type="reset">Reset</button>
            <button class="cursor-pointer border border-gray-900" type="submit" (click)="addContact()">Submit</button>
        </div>
    </form>
</div>
